.article {
  p {
    @apply mb-4;
  }

  b,
  strong {
    @apply font-normal bg-yellow;
  }

  a {
      @apply font-medium;
  }

  ul li {
      @apply mb-2;
  }

  @screen lg {
    &--pillars {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 2rem;
    }
  }
}

/* Misc */
.note {
    @apply text-xs leading-none;
}